div {
    background: #111;
    width: 600px;
    height: 160px;
    padding: 20px;
    font-family: Arial;
    border: 1px solid;
    border-radius: 4px;
    margin: 50px;
}

h1 {
    color: white;
}

p {
    color: #b2b2b2;
}

.dourado {
    color: #febe01
}

.botao {
    background: #febe01;
    padding: 10px;
    width: 110px;
    border: 1px;
    color: #332200;
    border-radius: 4px;
}